.main__todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__todo_information {
  font-size: 28px;
  margin-top: 80px;
  padding: 10px;
  text-align: center;
}

.todo__form {
  margin-bottom: 30px;
}

.todo__form [type="text"] {
  width: 400px;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1);
  font-size: 32px;
  caret-color: blue;
  text-align: center;
}

.todo__form [type="text"]:focus {
  outline: none;
  transition: 0.5s ease-in-out;
  border-bottom: 1px solid blue;
}
.todo__form [type="submit"] {
  display: none;
}

.todo__ul li {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.todo__ul span {
  font-size: 32px;
}

.todo__ul button {
  border: none;
  background-color: transparent;
  font-size: 32px;
  cursor: pointer;
}
